/* In this file you can overwrite/extend the given magpie-styles or declare your own ones */

/* Example of extending a given magpie-style */

/*.magpie-view-stimulus-container {
    height: auto;
    max-height: 350px;
} */

/* Display all titles in red */
/*.magpie-view-title {
    color: red;
}*/

/* Example of declaring your own style */
.custom-border {
   border: 1px solid powderblue;
}

.magpie-spr-sentence .spr-word:after {
    background: #666;
    content: "";
    display: inline-block;
    height: 1px;
    width: 100%;

    position: absolute;
    bottom: -3px;
    left: 0;
}

.magpie-spr-sentence {
    display: block;
    line-height: 80px;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.magpie-view-stimulus-container {
    display: flex;
    height: auto;
    margin: 0 auto;
    width: auto;
}

.magpie-response-slider {
    -webkit-appearance: none;
    outline: none;
    margin: 0 0;
    padding: 0;
    width: 300px;
}
.magpie-response-slider::-webkit-slider-runnable-track {
    background: #cbcbcb;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    height: 6px;
}
.magpie-response-slider::-moz-range-track {
    background: #cbcbcb;
    border-radius: 10px;
    cursor: pointer;
    height: 6px;
}
.magpie-response-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #676767;
    border: 4px solid #fefefe;
    border-radius: 50%;
    box-sizing: content-box;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.6);
    height: 16px;
    margin-top: -9px;
    margin-left: -2px;
    width: 16px;
}
.magpie-response-slider::-moz-range-thumb {
    background: #676767;
    border: 4px solid #fefefe;
    border-radius: 50%;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.6);
    height: 16px;
    width: 16px;
}
.magpie-response-slider:focus::-webkit-slider-thumb {
    background: orange;
}
.magpie-response-slider:focus::-moz-range-thumb {
    background: orange;
}
.magpie-response-slider-option {
    font-size: 15px;
    display: inline-block;
    line-height: 17px;
    text-align: left;
    width: 100px;
}
.magpie-response-slider-option:first-child {
    text-align: right;
    direction: rtl;
}
